//primrose show-features section start//
        #show-features{
            background-color: #F3F3F3;
            .unique_design{
                padding: 70px 0px 100px;
                img{
                    padding: 10px 0px 10px;
                }
                h4{
                    padding: 10px 0px 5px;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.5;
                }
                p{
                    padding: 5px 0px 5px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #0000008a;
                }
            }
        }
//primrose show-features section end//