
@media (max-width: 575.98px) {
    #prim_header .prim_headimg img {
        max-width: 50%;
    }
    #prim_header .top-heading {
        position: absolute;
        top: 73px;
        display: block;
        left: 20%;
        font-size: 21px;
        text-transform: uppercase;
    }
    .carousel-caption {
        right: 10%;
        left: 15%;
        top: 20%;
    }
    .carousel-caption h3 {
        font-size: 18px;
    }
    .carosel_text p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 1px;
        color: rgba(15, 15, 15, .7450980392);
        padding: 15px;
    }
    #show-features .unique_design {
        padding: 10px 0px 10px;
        text-align: center;
    }
    #prim_seller {
        padding: 20px 15px 0px;
        margin: 0px;
    }
    #prim_seller .seller-head ::after {
        left: 42%;
    }
    #prim_seller .seller_info_card {
        padding: 30px 0px 0px;
    }
    #prim_seller .seller_info_card img {
        width: 95%;
    }
    #prim-footer {
        padding: 20px 0px 0px;
    }
    #prim-footer .single-storke {
        padding: 20px 0px 30px;
    }
    #prim-footer .footer_list {
        padding: 15px 0px 0px;
        text-align: center;
    }
    #prim-footer .footer_list ul {
        text-align: center;
    }
    #prim-footer .footer-update {
        text-align: center;
        position: relative;
    }
    #prim-footer .footer-update .form-control {
        display: block;
        width: 50%;
        padding: .375rem .75rem;
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.5;
        margin-left: 25px;
        text-transform: capitalize;
    }
    #prim-footer .footer-update a {
        position: absolute;
        top: 100px;
        right: 25px;
        padding: 8px 25px 10px;
        background-color: #ccb593;
        color: #f0f8ff;
        text-decoration: none;
        font-size: 14px;
    }
    #prim-footer .copy-right {
        text-align: center;
        padding: 15px 0px 0px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, .5882352941);
    }
}
@media (max-width: 767.98px) {}


@media (max-width: 991.98px) {}


@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) {  }


@media (min-width: 576px) {
  
 }


@media (min-width: 768px) {
   
}


@media (min-width: 992px) {  }


@media (min-width: 1200px) { }


@media (min-width: 1400px) {  }