//primrose counter section start//
    #prim_counter{
        padding: 20px 0px 20px;
        border-bottom: 1px solid #00000021;
        .counter_text{
            text-align: center;
            .display-4{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 45px;
                color: #666666;
            }
            p{
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                line-height: 1.5;
                letter-spacing: 0.1em;
                text-decoration: none;
                text-transform: uppercase;
                color: #000000c7;
                padding: 20px 0px 0px;
            }
            }
        }
    
//primrose counter section end//