//faq section start//
    #prim-asked{
        padding: 40px 0px 0px;
        border-bottom: 1px solid #0000002e;
        .asked_text{
            text-align: center;
            padding: 20px 0px 20px;
            h1{
                font-size: 20px;
                font-weight: 500;
                line-height: 1.5;
                position: relative;
            }
            ::after{
              position: absolute;
              display: block;
              background-color: #6a6c6f;
              top: 47px;
              content: "";
              width: 50px;
              height: 1px;
              left: 48%;
          }
        }
        .asked_text2{
                padding: 30px 0px 25px;
                text-align: -webkit-center;
            P{
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                max-width: 52%;
                text-align: left;
                color: #666666d1;
            }
        }
        .accordion-item {
         border: none;
         margin-left: 25%;
      }
      .accordion-button {
        font-size: 0.9rem;
        color: #38393acf;
        font-weight: 700;
        position: relative;
    }
    .accordion-button:focus {
     z-index:0;
     box-shadow: none;
     outline: none;
  }
      .accordion-button:not(.collapsed) {
        background-color: #fff;
        box-shadow: none;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: 900;
        color: #403e3ed1;
    }
        
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");

}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}
.accordion-button::after {
  transition: all 0.5s;
  position: absolute;
  left: -26px;
}

    }
//faq section end//

